@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,700&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
* {
  text-decoration: none;
  list-style-type: none;
}
/* banner part start  */
.banner {
  background-color: #f8f9fd;
  padding: 30px 0;
}

.navbar-brand {
  font-size: 28px;
  line-height: 34px;
  font-weight: bold;
}

.navbar-nav .nav-item .nav-link.active {
  color: #e99c2e;
}
.navbar-nav .nav-item .nav-link {
  font-size: 18px;
  color: black;
  line-height: 28px;
  text-transform: capitalize;
}
.navbar-nav .nav-item {
  padding: 0px 13px;
}

.navbar-nav .nav-item .nav-link:hover {
  font-size: 18px;
  color: #e99c2e;
}

.header_nav .header_nav_icon .header_nav_link {
  font-size: 18px;
  color: #878889;
  line-height: 28px;
}
.header_nav .header_nav_icon {
  padding: 0px 15px;
}

.banner_slider {
  padding: 90px 0;
}

.banner_content h3 {
  font-size: 25px;
  line-height: 28px;
  color: rgba(102, 102, 102, 0.87);
  margin-bottom: 30px;
  margin-top: 70px;
}
.banner_content h1 {
  font-size: 50px;
  line-height: 48px;
  color: #666;
  margin-bottom: 30px;
  font-weight: 600;
}

.banner_content p {
  font-size: 18px;
  line-height: 28px;
  color: rgba(102, 102, 102, 0.733);
  margin-bottom: 30px;
  font-weight: 300;
}

.banner_content h5 {
  font-size: 18px;
  line-height: 28px;
  color: black(0, 0, 0, 0.733);
  margin-bottom: 35px;
  font-weight: 400;
}

.banner_content button {
  font-size: 18px;
  line-height: 28px;
  color: white;
  margin-left: 5px;
  font-weight: 400;
  background-color: #e99c2e;
  padding: 15px 35px;
  border: none;
  outline: none;
}
.banner_content button:hover {
  color: #e99c2e;
  background-color: #f8f9fd;
}

.slider_btn {
  background-color: transparent !important;
  color: #e99c2e !important;
}

.slider_btn:hover {
  background-color: #e99c2e !important;
  color: #fff !important;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  text-indent: -999px;
  background-color: #e99c2e;
  border: 2px solid #e99c2e;
  border-radius: 50%;
  margin: 5px;
}
.carousel-indicators {
  bottom: -100px;
}

.banner_img img {
  height: 500px;
}

.header_cart_icon {
  color: #fff;
  background-color: #e99c2e;
  position: relative;
  top: -10px;
  font-size: 12px;
  text-decoration: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  right: 10px;
  margin-bottom: 3px;
}

/* banner part end  */

/* .latest product start  */

.small_latest,
.big_latest {
  background-color: #f8f9fc;
  padding: 0 30px 20px 30px;
}

.big_latest {
  background-color: #f8f9fc;
  padding: 41px 30px 20px 30px;
}

/* .latest product end */

/* New arrivals start  */
.card_img {
  background-color: #f8f9fc;
}
.card_img {
  position: relative;
  height: 350px;
}

.card_img span {
  content: "Sale";
  background-color: #d8924c;
  position: absolute;
  top: 14px;
  right: 0;
  color: #fff;
  font-size: 16px;
  padding: 5px 15px;
  display: inline-block;
}

/* New arrivals end */

/* sofa collection start  */

.sofa {
  background-image: url(../images/collection/sofa-collection-banner.jpg);
  background-size: cover;
  height: 800px;
  margin: 80px 0;
  position: relative;
}

.sofa::before {
  width: 40%;
  height: 800px;
  background-color: #3b4142ee;
  top: 0;
  left: 0;
  content: "";
  position: absolute;
}
.sofa_content {
  margin-top: 200px;
  position: absolute;
}

.sofa_content h1 {
  font-size: 45px;
  line-height: 48px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.sofa_content p {
  font-size: 18px;
  line-height: 28px;
  width: 50%;
  padding-right: 100px;
  text-transform: capitalize;
}
.sofa_content button {
  font-size: 18px;
  line-height: 28px;
  padding: 13px 50px;
  outline: none;
  border: none;
  background-color: #e99c2e;
  color: #fff;
}

/* sofa collection end */

.card-body ul li {
  color: #e99c2e;
  font-size: 14px;
}

.features {
  padding: 40px 0 60px 0;
}

.blog_post {
  padding: 0 0 100px 0;
}
.post_content button {
  color: #d8924c;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 700;
  padding: 13px 34px 13px 15px;
  border-bottom: 1px solid #d8924c;
  background-color: transparent;
}

.post_content button:hover {
  color: #fff;
  background-color: #d8924c;
  border: 1px solid #d8924c;
}

/* partner section start  */

.partner {
  background-color: #f8f9fd;
}

/* partner section end */

/* footer part start  */

.footer_content ul li a {
  color: #878889;
  text-decoration: none;
  font-size: 17px;
  line-height: 28px;
}

.footer_content input::placeholder {
  color: #878889;
}
.input_footer {
  position: relative;
  width: 100%;
}
.footer_content input {
  width: 100%;
  background-color: #fff;
  border: none;
  outline: none;
  padding: 15px 26px;
  font-size: 15px;
  color: #878889;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.footer_icons {
  position: absolute;
  top: 27%;
  right: 8%;
}
.footer_icons i {
  font-size: 22px;
  color: #e99c2e;
}

.footer_bottom_icons ul {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.footer_bottom_icons ul li {
  padding: 0 14px;
}

.footer_bottom_icons ul li a {
  font-size: 16px;
  color: #878889;
}
.footer_bottom {
  padding: 100px 0;
  background-color: #f8f9fd;
}

/* footer part end */
